[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
mypy = "*"
yapf = "*"
coverage = "*"
tox = "*"

[packages]
bokeh = "*"
pandas = "*"

[requires]
python_version = "3.7"
